{% extends 'base.html' %}
{% load static %}
{% block body %}
<!-- START LANDING -->
<section class="landing">
    <div class="text_landing">
        <img src="{% static 'images/landing_1.jpg' %}" alt="">
        <div class="over_landing">
            <h2>diet track</h2>
            <q>يلا ندلع الدايت</q>
            <p data-i18n="coach_data">I'm Ahmed tantawy, a registered
                <br> dietitian and certified
                <br> health coach.
            </p>
            <a href="#services">book a session</a>
        </div>
    </div>
    <img src="{% static 'images/landing_2.jpg' %}" alt="" class="landing_person">
</section>
<!-- END LAINDING -->
<!-- START LANDING MOBILE SCREEN-->
<section class="landing_mobile">
    <img src="{% static 'images/landing_2 - mobile.jpg' %}" alt="" class="landing_person">
    <div class="over_landing_mobile">
        <h2>diet track</h2>
        <q>هندلع الدايت</q>
        <p>I'm Ahmed tantawy, a registered
            <br> dietitian and certified
            <br> health coach.
        </p>
        <a href="#booking">book a session</a>
    </div>
    <img src="{% static 'images/landing_1 - mobile.jpg' %}" alt="">
</section>
<!-- END LAINDING MOBILE SCREEN-->
<!-- START  social fixed and chat-->
<div class="social_fixed">
    <a href="https://www.instagram.com/diet.track.ahmed_tantawy/" target="_blank"><i
            class="fa-brands fa-instagram"></i></a>
    <a href="https://www.facebook.com/profile.php?id=100064284721355" target="_blank"><i
            class="fa-brands fa-facebook-f"></i></a>
    <a href=""><i class="fa-brands fa-twitter" target="_blank"></i></a>
</div>
<div class="chat">
    <i class="fa-regular fa-message"></i>
    <span>let's chat!</span>
</div>
<!-- END social fixed and chat-->
<!-- START HEALTHY AND LIFE -->
<section class="healthy_life">
    <div class="container">
        <h2 data-i18n="improve">improve your health,
            <br> improve your life
        </h2>
        <p>I'm a paragraph. Click here to add your own text and edit me. Its easy. Just click “Edit Text” or double
            click me to add your own content and make changes to the font. Iam a great place for you to tell a story
            and let your users know a little more about you.</p>
        <a href="philosophy.html">my story</a>
        <div class="img_store">
            <div class="img_story_1">
                <img src="{% static 'images/my_store_1.jpg' %}" alt="">
            </div>
            <div class="img_story_2">
                <img src="{% static 'images/my_store_2.jpg' %}" alt="">
            </div>
            <div class="img_story_3">
                <img src="{% static 'images/my_store_3.jpg' %}" alt="">
            </div>
        </div>
    </div>
</section>
<!-- END HEALTHY AND LIFE -->
<!-- START SERVICES -->
<section class="services" id="services">
    <h2 data-i18n="services">services</h2>
    <div class="container">
        <div class="box_service">
            <div class="type_services">
                <h3>initial consultation</h3>
                <p>Use this area to describe one of your services</p>
            </div>
            <div class="time_services">
                <p>1 hr</p>
                <span>$100</span>
            </div>
            <div class="book_services">
                <a href="booking_initial.html">book now</a>
            </div>
        </div>
        <div class="box_service">
            <div class="type_services">
                <h3>dietitian mentoring</h3>
                <p>Use this area to describe one of your services</p>
            </div>
            <div class="time_services">
                <p>1 hr</p>
                <span>$100</span>
            </div>
            <div class="book_services">
                <a href="booking_dietitian.html">book now</a>
            </div>
        </div>
        <div class="box_service">
            <div class="type_services">
                <h3>online session</h3>
                <p>Use this area to describe one of your services</p>
            </div>
            <div class="time_services">
                <p>1 hr</p>
                <span>$100</span>
            </div>
            <div class="book_services">
                <a href="booking_online.html">book now</a>
            </div>
        </div>
    </div>
</section>
<!-- END SERVICES -->
<!-- START TESTIMONIALS -->
<section class="testimonials">
    <h2 data-i18n="testimonials">testimonials</h2>
    <div class="container">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">

                <!-- <div class="carousel-item active">
                    <img src="{% static 'images/my_store_1.jpg'%}" alt="..." class="d-block w-100">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Here are our customer's opinions</h5>
                        <!-- <p>{{ testi.description}}</p> 
                    </div>
                </div> -->

                {% for testi in testimonials %}

                {% if forloop.first %}
                <div class="carousel-item active">
                    <video class="d-block w-100" autoplay loop muted>
                        <source src="{{ testi.video.url}}" type="video/mp4">
                    </video>
                    <!-- <img src="" alt="..." class="d-block w-100"> -->
                    <div class="carousel-caption d-none d-md-block">
                        <h5>index</h5>
                        <p>{{ testi.description}}</p>
                    </div>
                </div>
                {% else %}
                <div class="carousel-item">
                    <video class="d-block w-100" autoplay loop muted>
                        <source src="{{ testi.video.url}}" type="video/mp4">
                    </video>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>index</h5>
                        <p>{{ testi.description}}</p>
                    </div>
                </div>
                {% endif %}

                {% endfor %}


            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!-- {% for testi in testimonials %}
        <div class="box_testimonials">
            <div class="video_review">
                <video autoplay loop>
                    <source src="{{ testi.video.url }}" type="video/mp4" autoplay loop>
                </video>
            </div>
            <div class="text_test">
                <q>{{ testi.description}}</q>
                <span class="name">{{ testi.name }}</span>
                <span class="loding">
                    <span class="active"></span>
                    <span></span>
                    <span></span>
                </span>
            </div>
        </div>
        {% endfor %} -->

    </div>
</section>
<!-- END TESTIMONIALS -->
<!-- START NOURISH -->
<section class="nourish">
    <h2>nourish your body & soul</h2>
    <div class="container">
        {% for article in articles %}
        <div class="box_nourish">
            <img src="{{ article.image.url}}" alt="">
            <div class="text_box_nourish">
                <a href="{% url 'blog' %}">
                    <p>{{ article.title}}</p>
                </a>
                <span><i class="fa-regular fa-message"></i>{{ article.comments.count}}</span>
            </div>
        </div>
        {% endfor %}
    </div>
    <a href="{% url 'blog' %}" class="link_read">read more</a>
</section>
<!-- END NOURISH -->
<!-- START FEATURED -->
<section class="featured">
    <h1>Let's grow our </h1>
    <div class="container">
        <div class="counter">
            <a href="https://www.facebook.com/profile.php?id=100064284721355">
                <i class="fa-brands fa-facebook"></i></a>
            <h2 class="count" data-target="1254">0</h2>
        </div>
        <div class="counter">
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
            <h2 class="count" data-target="1254">0</h2>
        </div>
        <div class="counter">
            <a href="https://www.instagram.com/diet.track.ahmed_tantawy/"><i class="fa-brands fa-instagram"></i></a>
            <h2 class="count" data-target="12168">0</h2>
        </div>
        <div class="counter">
            <a href="#"><i class="fa-brands fa-tiktok"></i></a>
            <h2 class="count" data-target="732">0</h2>
        </div>
    </div>

</section>
<!-- END FEATURED -->
{% endblock %}