{% extends 'base.html' %}
{% load static %}
{% block body %}
<!-- END HEADER -->
<section class="pricing_plans">
    <h1 class="mian_tital_pages">nourish your body ,feel amazing</h1>
    <p>choose the plan that fits your goals</p>
    <div class="container">
        <div class="card_nourish">
            <div class="text_price">
                <h5>Get the Basic</h5>
                <h6>80</h6>
                <p>Vaild for one month</p>
                <a href="plans_basic.html">select</a>
            </div>
            <div class="type_plan">
                <p>4 sessions</p>
                <p>20 recipes</p>
                <p>Full meal prep plan</p>
            </div>
        </div>
        <div class="card_nourish">
            <div class="text_price">
                <h5>Become a meal prep</h5>
                <h6>120</h6>
                <p>Vaild for one month</p>
                <a href="plans_mael_perp.html">select</a>
            </div>
            <div class="type_plan">
                <p>4 sessions</p>
                <p>4 cooking lessons</p>
                <p>40 recipes</p>
                <p>Full meal prep plan</p>
            </div>
        </div>
        <div class="card_nourish">
            <div class="text_price">
                <h5>Balance it all</h5>
                <h6>150</h6>
                <p>Vaild for 2 month</p>
                <a href="plans_balans.html">select</a>
            </div>
            <div class="type_plan">
                <p>4 sessions</p>
                <p>4 shoping seeeions</p>
                <p>4 cooking lessons</p>
                <p>60 recipes</p>
                <p>Full meal prep plan</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}